<%- include("../includes/header.ejs", {title:"Edit Store " + store.street}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Edit Store</h1>
        <p class="lead">Update information for <%= store.street %></p>
    </div>
</div>

<div class="row" style="width:350px">
    <div class="container text-left">
        <form action="/store/update" method="get">
            <input type="hidden" id="store_id" name="store_id" value="<%= store.store_id %>">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" maxlength="20" value="<%= store.phone %>" required />
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" name="street" maxlength="50" value="<%= store.street %>" required />
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" maxlength="30" value="<%= store.city %>" required />
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" maxlength="30" value="<%= store.state %>" required />
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip"  maxlength="20" value="<%= store.zip %>" required />
            </div>
            <div class="row">
                <div class="col-8">
                    *all fields are required
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>