<%- include("../includes/header.ejs", {title:"Add New Store"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Add Store</h1>
        <p class="lead">Please provide all information for new store</p>
    </div>
</div>

<div class="row" style="width:350px">
    <div class="container text-left">
        <form action="/store/insert" method="get">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" maxlength="20" placeholder="Enter phone" required />
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" name="street" maxlength="50" placeholder="Enter street" required />
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" maxlength="30" placeholder="Enter city" required />
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" maxlength="30" placeholder="Enter state" required />
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip"  maxlength="20" placeholder="Enter zip" required />
            </div>
            <div class="row">
                <div class="col-8">
                    *all fields are required
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>