<%- include("../includes/header.ejs", {title:"Store - " + store.street}); %>


<div class="row">
    <div class="container">
        <h1 class="display-5">Store</h1>
        <p class="lead">
            <%= store.phone %><br />
            <%= store.street %><br />
            <%= store.city %> <%= store.state %> <%= store.zip %>
        </p>
    </div>
</div>


<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#employees" role="tab">Employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sauces" role="tab">Sauces</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="employees" role="tabpanel">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < employee.length; i++) { %>
            <tr>
                <td><%= employee[i].firstName %></td>
                <td><%= employee[i].lastName %></td>
                <td><%= employee[i].phone %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="sauces" role="tabpanel">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Sauce Name</th>
                <th># in stock</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < sauce.length; i++) { %>
            <tr>
                <td><%= sauce[i].name %></td>
                <td><%= sauce[i].in_stock %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div>


<%- include("../includes/footer.ejs"); %>