<%- include("../includes/header.ejs", {title:"View All Stores"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Stores</h1>
        <p class="lead">Manage all store information</p>
    </div>
</div>

<div class="row">
    <div class="col text-left">
        <div class="alert alert-success alert-dismissible fade show" id="addSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Store added
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="deleteSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Store removed
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="deleteSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Store removed
        </div>
        <div class="alert alert-info alert-dismissible fade show" id="updateSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Store updated
        </div>
    </div>
    <div class="col text-right">
        <a class="btn btn-success" href="/store/add">Add Store</a>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < store.length; i++) { %>
        <tr>
            <td><%= store[i].street %></td>
            <td><%= store[i].city %></td>
            <td><%= store[i].phone %></td>
            <td><a class="btn btn-primary" href="/store/?store_id=<%= store[i].store_id %>">View</a></td>
            <td><a class="btn btn-info" href="/store/edit/?store_id=<%= store[i].store_id %>">Edit</a></td>
            <% if (store[i].store_id >= 1 && store[i].store_id <=3) { %>
            <td><button type="button" class="btn btn-danger" style="opacity:.5" data-toggle="tooltip" data-placement="top" title="Only Mr. Jonny can delete original stores">Delete</button></td>
            <% } else { %>
            <td><form action="/store/delete/" style="display:inline;">
                <input type="hidden" name="store_id" id="store_id" value="<%= store[i].store_id %>" />
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form></td>
            <% } %>
        </tr>
        <% } %>
    </tbody>
</table>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<% if (successMessage == 'add') { %>

<script>
    $("#addSuccess").show();
</script>
<% } %>

<% if (successMessage == 'delete') { %>

<script>
    $("#deleteSuccess").show();
</script>
<% } %>

<% if (successMessage == 'update') { %>

<script>
    $("#updateSuccess").show();
</script>
<% } %>

<%- include("../includes/footer.ejs"); %>