<%- include("../includes/header.ejs", {title:"View All Employees"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Employees</h1>
        <p class="lead">Manage your employees so they work and don't slack off...
            like a bunch a slackers</p>
    </div>
</div>

<div class="row">
    <div class="col text-left">
        <div class="alert alert-success alert-dismissible fade show" id="addSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Employee added
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="deleteSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Employee removed
        </div>
        <div class="alert alert-info alert-dismissible fade show" id="updateSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Employee updated
        </div>
    </div>
    <div class="col text-right">
        <a class="btn btn-success" href="/employee/add">Add Employee</a>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Works at</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < employee.length; i++) { %>
    <tr>
        <td><%= employee[i].firstName %></td>
        <td><%= employee[i].lastName %></td>
        <td><%= employee[i].street %></td>
        <td><a class="btn btn-primary" href="/employee/?employee_id=<%= employee[i].employee_id %>">View</a></td>
        <td><a class="btn btn-info" href="/employee/edit/?employee_id=<%= employee[i].employee_id %>">Edit</a></td>
        <td><form action="/employee/delete/" style="display:inline;">
            <input type="hidden" name="employee_id" id="employee_id" value="<%= employee[i].employee_id %>" />
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form></td>
    </tr>
    <% } %>
    </tbody>
</table>

<% if (successMessage == 'add') { %>

    <script>
        $("#addSuccess").show();
    </script>
<% } %>

<% if (successMessage == 'delete') { %>

<script>
    $("#deleteSuccess").show();
</script>
<% } %>

<% if (successMessage == 'update') { %>

<script>
    $("#updateSuccess").show();
</script>
<% } %>

<%- include("../includes/footer.ejs"); %>