<%- include("../includes/header.ejs", {title:"Edit Employee " + employee.firstName + " " + employee.lastName}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Add Employee</h1>
        <p class="lead">Please provide all information for <%= employee.firstName %> <%= employee.lastName %></p>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <% if (successMessage == 'update') { %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#info" role="tab">Employee Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sauces" role="tab">Sauces Sold</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Employee Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sauces" role="tab">Sauces Sold</a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="col-4">
        <div class="alert alert-info alert-dismissible fade show" id="updateSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            # sold updated
        </div>
    </div>
</div>

<div class="tab-content">

    <% if (successMessage == 'update') { %>
    <div class="tab-pane" id="info" role="tabpanel">
    <% } else { %>
    <div class="tab-pane active" id="info" role="tabpanel">
    <% } %>
        <div class="row" style="width:350px">
            <div class="container text-left">
                <form action="/employee/update" method="get">
                    <input type="hidden" id="employee_id" name="employee_id" value="<%= employee.employee_id %>">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" maxlength="20" value="<%= employee.firstName%>" required />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" maxlength="50" value="<%= employee.lastName%>" required />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" maxlength="30" value="<%= employee.phone%>" required />
                    </div>
                    <div class="form-group">
                        <label for="store_id">Works for</label>
                        <select class="form-control" id="store_id" name="store_id" required>
                            <% for (var i = 0; i < store.length; i++) { %>
                            <% if (store[i].store_id == employee.store_id) { %>
                            <option value="<%= store[i].store_id %>" selected="selected"><%= store[i].street %></option>
                            <% } else { %>
                            <option value="<%= store[i].store_id %>"><%= store[i].street %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            *all fields are required
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% if (successMessage == 'update') { %>
    <div class="tab-pane active" id="sauces" role="tabpanel">
    <% } else { %>
    <div class="tab-pane" id="sauces" role="tabpanel">
    <% } %>
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Sauce</th>
                <th># Sold</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < sauce.length; i++) { %>
            <tr>
                <td><%= sauce[i].name %></td>
                <form action="/employee/sauceUpdate" method="get">
                    <input type="hidden" id="sauce_id" name="sauce_id" value="<%= sauce[i].sauce_id %>">
                    <input type="hidden" id="employee_id" name="employee_id" value="<%= employee.employee_id %>">
                    <td>
                        <input type="number" class="form-control small" id="sold" name="sold" maxlength="20" value="<%= sauce[i].sold %>" required />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </td>
                </form>
            </tr>
            <% } %>
            </tbody>
        </table>

    </div>
</div>
</div>


<% if (successMessage == 'update') { %>

<script>
    $('#updateSuccess').show();
</script>
<% } %>

<%- include("../includes/footer.ejs"); %>