<%- include("../includes/header.ejs", {title:"Employee - " + employee.firstName + " " + employee.lastName}); %>


<div class="row">
    <div class="container">
        <h1 class="display-5">Employee</h1>
        <p class="lead">
            <%= employee.firstName %> <%= employee.lastName %> <br />
            Works at <strong><%= employee.street %></strong>
        </p>
    </div>
</div>

<br />

<div class="row">
    <div class="container">
        <p>Number of each sauce sold by <%= employee.firstName %></p>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Sauce</th>
        <th># Sold</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < sauce.length; i++) { %>
    <tr>
        <td><%= sauce[i].name %></td>
        <td><%= sauce[i].sold %></td>
    </tr>
    <% } %>
    </tbody>
</table>


<%- include("../includes/footer.ejs"); %>