<%- include("../includes/header.ejs", {title:"Add New Employee"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Add Employee</h1>
        <p class="lead">Please provide all information for new employee</p>
    </div>
</div>

<div class="row" style="width:350px">
    <div class="container text-left">
        <form action="/employee/insert" method="get">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" maxlength="20" placeholder="Enter first name" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" maxlength="50" placeholder="Enter last name" required />
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" maxlength="30" placeholder="Enter phone" required />
            </div>
            <div class="form-group">
                <label for="store_id">Works for</label>
                <select class="form-control" id="store_id" name="store_id" required>
                    <% for (var i = 0; i < store.length; i++) { %>
                        <option value="<%= store[i].store_id %>"><%= store[i].street %></option>
                    <% } %>
                </select>
            </div>
            <div class="row">
                <div class="col-8">
                    *all fields are required
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>