<%- include("./includes/header.ejs", {title: title}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Store, employee, and sauce stock manager</h1>
        <p class="lead">Stay on top of the hard life of making people's faces hurt</p>
    </div>
</div>
<br /><br />

<div class="row">
    <div class="container">
        <h1 class="display-5">Hot Jonny's</h1>
        <p class="lead">
            Founded by Jonathan Peppersworth in 1992, Hot Jonny's has become the leading brand in hot sauce creation and distribution.
            In this web application, anybody with management status at Hot Jonny's can view and manage all the essential store, employee,
            and sauce information. You can view, add, and edit stores. View, add, and edit employees and how much of each sauce they have sold.
            And do the same for sauces and how much of each sauce is in stock in each store. Got it? Good.
        </p>
    </div>
</div>
<br /><br />

<div class="card-deck">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Stores</h3>
            <p class="card-text">Manage all Hot Jonny's store information</p>
            <a href="/store/all" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Employees</h3>
            <p class="card-text">Manage your employees so they work and don't slack off... like a bunch a slackers</p>
            <a href="/employee/all" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Sauces</h3>
            <p class="card-text">View, edit, and add sauces to the Hot Jonny's Hot Sauce collection</p>
            <a href="/sauce/all" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>


<%- include("./includes/footer.ejs"); %>
