<%- include("../includes/header.ejs", {title:"Edit Sauce " + sauce.name}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Edit Sauce</h1>
        <p class="lead">Please provide all information for <%= sauce.name %></p>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <% if (successMessage == 'update') { %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#info" role="tab">Sauce Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#stock" role="tab">Store Stocks</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Sauce Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#stock" role="tab">Store Stocks</a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="col-4">
        <div class="alert alert-info alert-dismissible fade show" id="updateSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Stock updated
        </div>
    </div>
</div>

<div class="tab-content">

    <% if (successMessage == 'update') { %>
    <div class="tab-pane" id="info" role="tabpanel">
        <% } else { %>
        <div class="tab-pane active" id="info" role="tabpanel">
            <% } %>
            <div class="row" style="width:350px">
                <div class="container text-left">
                    <form action="/sauce/update" method="get">
                        <input type="hidden" id="sauce_id" name="sauce_id" value="<%= sauce.sauce_id %>">
                        <div class="form-group">
                            <label for="name">Sauce Name</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="20" value="<%= sauce.name %>" required />
                        </div>
                        <div class="form-group">
                            <label for="scoville">Scoville Rating</label>
                            <input type="number" class="form-control" id="scoville" name="scoville" maxlength="20" value="<%= sauce.scoville %>" required />
                        </div>
                        <div class="form-group">
                            <label for="pepper">Peppers</label>
                            <select class="form-control" id="pepper" name="pepper" multiple="multiple">
                                <% for (var i = 0; i < pepper.length; i++) { %>
                                <option value="<%= pepper[i].pepper %>"><%= pepper[i].pepper %></option>
                                <% } %>
                            </select>

                            <!-- Initialize the multiselect plugin: -->
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#pepper').multiselect();
                                });
                            </script>

                        </div>
                        <div class="row">
                            <div class="col-8">
                                *all fields are required
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <% if (successMessage == 'update') { %>
        <div class="tab-pane active" id="stock" role="tabpanel">
            <% } else { %>
            <div class="tab-pane" id="stock" role="tabpanel">
                <% } %>
                <table class="table table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Store</th>
                        <th># In Stock</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0; i < store.length; i++) { %>
                    <tr>
                        <td><%= store[i].street %></td>
                        <form action="/sauce/stockUpdate" method="get">
                            <input type="hidden" id="sauce_id" name="sauce_id" value="<%= sauce.sauce_id %>">
                            <input type="hidden" id="store_id" name="store_id" value="<%= store[i].store_id %>">
                            <td>
                                <input type="number" class="form-control small" id="in_stock" name="in_stock" maxlength="20" value="<%= stock[i].in_stock %>" required />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </td>
                        </form>
                    </tr>
                    <% } %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <% if (successMessage == 'update') { %>

    <script>
        $('#updateSuccess').show();
    </script>
    <% } %>

<%- include("../includes/footer.ejs"); %>