<%- include("../includes/header.ejs", {title:"Add New Sauce"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Add Sauce</h1>
        <p class="lead">Please provide all information for new sauce</p>
    </div>
</div>

<div class="row" style="width:350px">
    <div class="container text-left">
        <form action="/sauce/insert" method="get">
            <div class="form-group">
                <label for="name">Sauce Name</label>
                <input type="text" class="form-control" id="name" name="name" maxlength="20" placeholder="Enter sauce name" required />
            </div>
            <div class="form-group">
                <label for="scoville">Scoville Rating</label>
                <input type="number" class="form-control" id="scoville" name="scoville" maxlength="20" placeholder="Enter scoville rating" required />
            </div>
            <div class="form-group">
                <label for="pepper">Peppers</label>
                <select class="form-control" id="pepper" name="pepper" multiple="multiple" required>
                    <% for (var i = 0; i < pepper.length; i++) { %>
                    <option value="<%= pepper[i].pepper %>"><%= pepper[i].pepper %></option>
                    <% } %>
                </select>

                <!-- Initialize the multiselect plugin: -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#pepper').multiselect();
                    });
                </script>

            </div>
            <div class="row">
                <div class="col-8">
                    *all fields are required
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>