<%- include("../includes/header.ejs", {title:"View All Sauces"}); %>

<div class="row">
    <div class="container">
        <h1 class="display-5">Sauces</h1>
        <p class="lead">View, edit, and add sauces to the Hot Jonny's Hot Sauce collection</p>
    </div>
</div>

<div class="row">
    <div class="col text-left">
        <div class="alert alert-success alert-dismissible fade show" id="addSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Sauce added
        </div>
        <div class="alert alert-danger alert-dismissible fade show" id="deleteSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Sauce removed
        </div>
        <div class="alert alert-info alert-dismissible fade show" id="updateSuccess" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Sauce updated
        </div>
    </div>
    <div class="col text-right">
        <a class="btn btn-success" href="/sauce/add">Add Sauce</a>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Sauce Name</th>
        <th>Scoville Rating</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < sauce.length; i++) { %>
    <tr>
        <td><%= sauce[i].name %></td>
        <td><%= sauce[i].scoville %></td>
        <td><a class="btn btn-primary" href="/sauce/?sauce_id=<%= sauce[i].sauce_id %>">View</a></td>
        <td><a class="btn btn-info" href="/sauce/edit/?sauce_id=<%= sauce[i].sauce_id %>">Edit</a></td>
        <td><form action="/sauce/delete/" style="display:inline;">
                <input type="hidden" name="sauce_id" id="sauce_id" value="<%= sauce[i].sauce_id %>" />
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form></td>
    </tr>
    <% } %>
    </tbody>
</table>

<% if (successMessage == 'add') { %>

<script>
    $("#addSuccess").show();
</script>
<% } %>

<% if (successMessage == 'delete') { %>

<script>
    $("#deleteSuccess").show();
</script>
<% } %>

<%- include("../includes/footer.ejs"); %>