<%- include("../includes/header.ejs", {title:"Sauce - " + sauce.name}); %>


<div class="row">
    <div class="container">
        <h1 class="display-5">Sauce</h1>
        <p class="lead">
            <%= sauce.name %><br />
            Scoville Rating <strong><%= sauce.scoville %></strong><br />
            Average number sold <strong><%= average.avg_sales %></strong>
        </p>
    </div>
</div>

<br />

<div class="row">
    <div class="container">
        <p>Peppers used in <%= sauce.name %></p>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Pepper</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < pepper.length; i++) { %>
    <tr>
        <td><%= pepper[i].pepper %></td>
    </tr>
    <% } %>
    </tbody>
</table>


<%- include("../includes/footer.ejs"); %>